.list-group-item {
  display: flex;
  margin: 2% auto;
  align-items: center;
}

.list-group-item button {
  margin-left: auto;
}

.list-group-item__label_done {
  transition: all 1s ease;
  color: grey;
  text-decoration: line-through;
  font-style: italic;
}
